body,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
  font-family: "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", "Segoe UI", "Tahoma", sans-serif;
}

.page-wrapper {
  padding: 1em;
}

.form-token .apikey {
  width: 300px;
}

.content {
  margin-top: 10px;
}

.note {
  margin: .5em 0;
}

.estimate {
  color: #dd514c;
}

.error {
  color: #f00;
}
