{% extends 'layouts/main.twig' %}

{% block title 'omg, error' %}

{% block content %}

<div class="pure-u-1">

  <h1>Oops, error</h1>

  <div class="error">
    {{ error }}
  </div>
</div>

{% endblock %}
