<div class="pure-u-1-2 l-box">
  <h1>Measure text</h1>

  <div class="note">
    This tool measures how many kanjis you are able to recognize and
    shows which ones you haven't seen yet. Copy-paste or type in something:
  </div>

  <form class="measure pure-form">
    <textarea class="text pure-u-1 jsMeasureTextarea" placeholder="本文..."></textarea>
  </form>
</div>

<div class="pure-u-1-2 l-box" id="measureStats">
</div>
